<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.CustomerMapper">
    <resultMap id="customerMap" type="com.coin.entity.Customer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="login_pass" property="loginPass" jdbcType="VARCHAR"/>
        <result column="roulette_total_time" property="rouletteTotalTime" jdbcType="INTEGER"/>
        <result column="roulette_used_time" property="rouletteUsedTime" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getInfoByLoginName" resultMap="customerMap">
        select * from t_customer t where t.login_name = #{loginName}
    </select>

    <insert id="createCustomer">
        INSERT INTO t_customer(
            login_name,
            login_pass,
            create_user,
            create_date,
            update_user,
            update_date
        )
	    VALUES(
	        #{loginName},
	        #{loginPass},
	        #{createUser},
	        #{createDate},
	        #{updateUser},
	        #{updateDate}
	    )
    </insert>

    <update id="addUsedNum">
        update t_customer t set t.roulette_used_time = t.roulette_used_time+1
        where t.roulette_used_time = #{rouletteUsedTime}
        and t.roulette_total_time > t.roulette_used_time
    </update>

</mapper>