<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.PrizeMapper">
    <resultMap id="prizeMap" type="com.coin.entity.Prize">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="prize_name" property="prizeName" jdbcType="VARCHAR"/>
        <result column="prize_pic" property="prizePic" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <result column="max_num" property="maxNum" jdbcType="INTEGER"/>
        <result column="used_num" property="usedNum" jdbcType="INTEGER"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
        <result column="vip_rate" property="vipRate" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getInfoById" resultMap="prizeMap">
        select * from t_prize t where t.id = #{id}
    </select>

    <select id="totalRate" resultType="com.coin.rsp.PrizeRsp">
        select sum(t.rate) totalRate,
               sum(case when t.status=1 then t.rate else 0 end) enabledTotalRate,
               sum(case when t.status=0 then t.rate else 0 end) disabledTotalRate
        from t_prize t
    </select>

    <select id="getInfoByName" resultMap="prizeMap">
        select * from t_prize t where t.prize_name = #{prizeName}
    </select>

    <select id="getInfoByAmount" resultMap="prizeMap">
        select * from t_prize t where t.amount = #{amount}
        <if test="id != null">
            and t.id != #{id}
        </if>
    </select>

    <insert id="addPrize">
        INSERT INTO t_prize(
            prize_name,
            prize_pic,
            amount,
            max_num,
            rate,
            vip_rate,
            create_user,
            create_date,
            update_user,
            update_date
        )
	    VALUES(
	        #{prizeName},
	        #{prizePic},
	        #{amount},
	        #{maxNum},
	        #{rate},
	        #{vipRate},
	        #{createUser},
	        #{createDate},
	        #{updateUser},
	        #{updateDate}
	    )
    </insert>

    <update id="updateById">
        update t_prize
        <set>
            update_user=#{updateUser},
            update_date=#{updateDate},
            <if test="prizeName != null">
                prize_name = #{prizeName},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="maxNum != null">
                max_num = #{maxNum},
            </if>
            <if test="usedNum != null">
                used_num = #{usedNum},
            </if>
            <if test="rate != null">
                rate = #{rate},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="addUsedNum">
        update t_prize set used_num=used_num+1 where id = #{id} and used_num = #{usedNum} and used_num &lt; max_num
    </update>

    <select id="getPrizeList" resultMap="prizeMap" parameterType="com.coin.req.PrizeReq">
        select *
        from t_prize t
        where 1=1
        <if test="prizeName != null and prizeName != ''">
            <if test="nameLike != null">
                and t.prize_name like concat('%',#{prizeName},'%')
            </if>
            <if test="nameLike == null">
                and t.prize_name = #{prizeName}
            </if>
        </if>
        <if test="status != null">
            and t.status = #{status}
        </if>
        <if test="rateNoZero != null">
            and t.rate > 0
        </if>
        <if test="numNoZero != null">
            and t.max_num > t.used_num
        </if>
        order by id
    </select>

</mapper>