<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.SysLogMapper">
    <resultMap id="sysLogMap" type="com.coin.entity.SysLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="sys_type" property="sysType" jdbcType="INTEGER"/>
        <result column="login_type" property="logType" jdbcType="VARCHAR"/>
        <result column="before_val" property="beforeVal" jdbcType="VARCHAR"/>
        <result column="after_val" property="afterVal" jdbcType="VARCHAR"/>
        <result column="log_remark" property="logRemark" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addSysLog">
        insert into t_sys_log(
            sys_type,
            log_type,
            before_val,
            after_val,
            log_remark,
            create_user,
            create_date,
            update_user,
            update_date
        ) values(
            #{sysType},
            #{logType},
            #{beforeVal},
            #{afterVal},
            #{logRemark},
            #{createUser},
            #{createDate},
            #{updateUser},
            #{updateDate}
        )
    </insert>

</mapper>