<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.ext.CustomerMapper">
    <resultMap id="customerMap" type="com.coin.entity.TCustomer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="login_pass" property="loginPass" jdbcType="VARCHAR"/>
        <result column="vip" property="vip" jdbcType="INTEGER"/>
        <result column="roulette_total_time" property="rouletteTotalTime" jdbcType="INTEGER"/>
        <result column="roulette_used_time" property="rouletteUsedTime" jdbcType="INTEGER"/>
        <result column="wallet" property="wallet" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_login" property="isLogin" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCustomerList" resultMap="customerMap">
        select id,login_name,vip,roulette_total_time,roulette_used_time,status,is_login,create_user,create_date,update_user,update_date,wallet
        from t_customer t
        where 1= 1
        <if test="queryLoginName != null and queryLoginName != ''">
            and t.login_name = #{queryLoginName}
        </if>
    </select>

    <insert id="createCustomer">
        INSERT INTO t_customer(
            login_name,
            login_pass,
            is_login,
            create_user,
            create_date,
            update_user,
            update_date
        )
	    VALUES(
	        #{loginName},
	        #{loginPass},
	        #{isLogin},
	        #{createUser},
	        #{createDate},
	        #{updateUser},
	        #{updateDate}
	    )
    </insert>

    <insert id="createBatch">
        INSERT INTO t_customer(
            login_name,
            login_pass,
            create_user,
            create_date,
            update_user,
            update_date
        )
        VALUES
        <foreach collection ="list" item="customer" separator =",">
        (
            #{loginName},
            #{loginPass},
            #{createUser},
            #{createDate},
            #{updateUser},
            #{updateDate}
        )
        </foreach>
    </insert>

    <update id="setLoginPass" parameterType="com.coin.entity.TCustomer">
        update t_customer
        set
            <if test="loginPass == null">
                login_pass = null,
            </if>
            <if test="loginPass != null">
                login_pass = #{loginPass},
            </if>
            update_date=#{updateDate},
            update_user=#{updateUser}
        where id = #{id}
    </update>

    <update id="addUsedNum">
        update t_customer t set t.roulette_used_time = t.roulette_used_time+1
        where t.login_name = #{loginName}
        and t.roulette_used_time = #{rouletteUsedTime}
        and t.roulette_total_time > t.roulette_used_time
    </update>

    <update id="updateTotalNum">
        update t_customer t
        set t.roulette_total_time = t.roulette_total_time + #{rouletteTotalTime}
        where t.id = #{id}
    </update>

    <update id="updateWallet">
        update t_customer t
        set t.wallet = #{wallet}
        where t.id = #{id}
    </update>

    <update id="updateIsLogin">
        update t_customer t
        set t.is_login = 1
        where t.login_name = #{loginName}
    </update>

</mapper>