<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.ext.CustPrizeMapper">
    <resultMap id="custPrizeMap" type="com.coin.entity.TCustPrize">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bill_no" property="billNo" jdbcType="VARCHAR"/>
        <result column="prize_id" property="prizeId" jdbcType="INTEGER"/>
        <result column="prize_name" property="prizeName" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="request_date" property="requestDate" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="custPrizeRspMap" type="com.coin.rsp.CustPrizeRsp">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bill_no" property="billNo" jdbcType="VARCHAR"/>
        <result column="prize_id" property="prizeId" jdbcType="INTEGER"/>
        <result column="prize_name" property="prizeName" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="request_date" property="requestDate" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getTwoCustPrize30s" resultMap="custPrizeMap">
        select *
        from t_cust_prize t
        where t.request_date > DATE_SUB(NOW(),INTERVAL 29 SECOND)
        and t.prize_id is not null
        order by t.request_date desc
        limit 2
    </select>

    <select id="getTwoCustPrize" resultMap="custPrizeMap">
        select *
        from t_cust_prize t
        where t.request_date is null
        and t.prize_id is not null
        order by t.create_date
        limit 2
    </select>

</mapper>