<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.ext.DictMapper">
    <resultMap id="dictMap" type="com.coin.entity.TDict">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="dict_type" property="dictType" jdbcType="VARCHAR"/>
        <result column="dict_code" property="dictCode" jdbcType="VARCHAR"/>
        <result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
        <result column="dict_val" property="dictVal" jdbcType="VARCHAR"/>
        <result column="dict_val_big" property="dictValBig" jdbcType="VARCHAR"/>
        <result column="parent_dict_code" property="parentDictCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort_num" property="sortNum" jdbcType="INTEGER"/>
        <result column="is_default" property="isDefault" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getListByType" resultMap="dictMap" parameterType="com.coin.req.DictReq">
        select *
        from t_dict
        where 1=1
        <if test="dictType != null">
            and dict_type = #{dictType}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by status desc, is_default desc, sort_num
    </select>

    <select id="getByTypeAndCode" resultMap="dictMap">
        select * from t_dict where dict_type = #{dictType} and dict_code = #{dictCode}
    </select>


</mapper>