<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coin.mapper.ext.SysRoleResourceMapper">
    <resultMap id="sysRoleResourceMap" type="com.coin.entity.TSysRoleResource">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="resource_code" jdbcType="VARCHAR" property="resourceCode" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    </resultMap>

    <insert id="addBatch">
        INSERT INTO t_sys_role_resource(
            role_code,
            resource_code,
            create_user,
            create_date,
            update_user,
            update_date
        )
        VALUES
        <foreach collection ="list" item="sysRoleResource" separator =",">
            (
            #{sysRoleResource.roleCode},
            #{sysRoleResource.resourceCode},
            #{sysRoleResource.createUser},
            #{sysRoleResource.createDate},
            #{sysRoleResource.updateUser},
            #{sysRoleResource.updateDate}
            )
        </foreach>
    </insert>

    <delete id="delBatch">
        DELETE FROM t_sys_role_resource
        WHERE role_code = #{roleCode}
        AND resource_code IN
        <foreach collection ="resourceCodes" item="resourceCode" separator ="," open="(" close=")" index="">
            #{resourceCode}
        </foreach>
    </delete>

    <delete id="delAllByRoleCode">
        DELETE FROM t_sys_role_resource
        WHERE role_code = #{roleCode}
    </delete>

</mapper>