<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>活动中心后台</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap-4.6.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/liMarquee.css">
        <script type="text/javascript" src="/jquery-3.2.1/jQuery.js"></script>
        <script type="text/javascript" src="/js/jquery.liMarquee.js"></script>
        <!--<script src="/popper.min.js"></script>-->
        <script type="text/javascript" src="/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    </head>
    <body style="background: #5a6268; background: url('/pic/bg2.gif') no-repeat center center fixed; background-size: cover;">
        <div style="margin-top:320px;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div id="roll">
                        <span id="span1">1111111111111111111111111111111111</span>
                        <span id="span2">2222222222222222222222222222222222</span>
                    </div>
                </div>
                <div class="col-sm-4" style="display: none;">
                    <form class="form-horizontal" action="">
                        <div id="loginui" style="background-color: darkseagreen; padding: 28px;border-radius: 8px;border-color: #00a3ff;border-width: 2px">
                            <div style="height: 80px;">
                                <h3 style="text-align: center;color: darkolivegreen; font-size: 35px;">[(${sysName})]</h3>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="/bootstrap-icons-1.9.1/person-square.svg" alt="Bootstrap" width="16" height="16">
                                    </span>
                                </div>
                                <input name="loginName" type="text" class="form-control" placeholder="用户名">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="/bootstrap-icons-1.9.1/file-excel.svg" alt="Bootstrap" width="12" height="16">
                                    </span>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="/bootstrap-icons-1.9.1/file-earmark-lock2.svg" alt="Bootstrap" width="16" height="16">
                                    </span>
                                </div>
                                <input name="loginPass" type="password" class="form-control pword m-b" placeholder="密码">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="/bootstrap-icons-1.9.1/file-excel.svg" alt="Bootstrap" width="12" height="16">
                                    </span>
                                </div>
                            </div>
                            <div class="submit">
                                <button style="border-radius:8px; background-color: #00A3FF" onclick="login()" class="btn btn-lg  btn-login btn-block">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

    <script>
        function login(xx){
            alert("登录");
            return false;
        }
        function getStr(val){
            let str = "";
            for(let i=0;i<34;i++){
                str += val;
            }
            return " " + str + " ";
        }
        let spanIndex = 1;
        let val = 3;
        setInterval(function(){
            $("#span"+(val-1)).after('<span id="span'+val+'">'+getStr(val>9?val%10:val)+'</span>');
            $("#span"+(val-4)).remove();
            val = val +1;
            $("#span"+(val-1)).after('<span id="span'+val+'">'+getStr(val>9?val%10:val)+'</span>');
            $("#span"+(val-4)).remove();
            val = val +1;
            if(spanIndex == 1){
                spanIndex = 0;
            } else {
                spanIndex= 1;
            }
            doMarquee();
        }, 30000);
        $(function(){
            doMarquee();
        });
        function doMarquee(){
            let roll = $('#roll').liMarquee();
            roll.liMarquee('destroy');
            let rollWith = $("#roll").width();
            let speed = rollWith/30;
            console.log(speed);
            $('#roll').liMarquee({
                direction:'left',
                scrollamount:speed,
                hoverstop:false
            });
        }
    </script>
</html>